#body {
    /*background-image: url("./images/fundoSite.png");*/
    background-color: rgb(61, 61, 61);
    
}

#titulo {
    text-align: center;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(128, 128, 128, 0.219);
}
th, td {
    text-align: left;
    padding: 8px;
    color: white;
}
td:hover {
    background-color: rgba(128, 128, 128, 0.63);
}