* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#titulo {
    text-align: center;
    color: white;
}

body {
    background-color: rgb(61, 61, 61);
    display: grid;
    grid-template-areas: "head head head"
                         "nav nav nav"
                         "notice main main"
                         "foot foot foot";
    grid-template-rows: 100px 50px 80vh 50px;
    grid-template-columns: 100px 1fr 1fr;
}
body > header {
    grid-area: head;
    background-color: #505050;
}
body > nav {
    grid-area: nav;
    background-color: #777777;
}
body > main {
    grid-area: main;
    background-color: #7c7c7c;
}
body > footer {
    grid-area: foot;
    background-color: #505050;
}


/* Grid 
.layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
}
.headerTitle {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
*/

/*Menu com listas*/
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: rgba(128, 128, 128, 0.219);
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color:rgba(40, 40, 40, 0.219)
}

/*abrir menu*/
.menu {
    display: none;
    position: absolute;
}
.menuabre:hover .menu{
    display: block;
}
.menuabre:hover {
    background-color: rgba(0, 0, 0, 0.219);
}